@import "~ui/scss/variables";

:host {
  border: 0 solid $border-color;
  border-bottom-width: 1px;
  display: block;
  height: 48px;
  padding: 0 16px;
}

nav a {
  color: $link-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

nav a.router-link-active {
  color: $main-color;
}
